:root {
    --black: #000000;
    --white: #ffffff;


    --brand-black: #0F0F0F;

    --brand-gray: #6C757D;

    --slider-card-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.09);

    --light-black: #333333;

    --service-card-shadow: 0px 4px 56px 2px rgba(0, 0, 0, 0.15);

    --border-color: #d4d4d3;

    --client-card-background: rgba(71, 71, 71, 0.55);

    --gray-line: #E9ECEF;

    --input-border: #4E4F4F;

    --input-background: rgba(194, 194, 194, 0.60);

    --recent-post-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);

    --recent-post-overlay: rgba(0, 0, 0, 0.55);


    --footer-end-background: #191919;


    --black-hover: #1a1a1a;

    --blue: #7336fe;

    --red: #e81123;

    --gray: #57595C;

    --light-gray: #727476;
}